*{
    font-family: 'Roboto';
font-style: normal;
}
.body{
    width:1280px;
    margin:0 auto;
}
.flex{
    display:flex;
    flex-direction:row-reverse;
}
/* Header */
.clear{
    text-decoration:none;
}
h1{
    
    font-weight: 400;
font-size: 80px;
line-height: 94px;
display: flex;
align-items: flex-end;
text-align: center;

color: #000000;
}
.colblue{
    color:#4BCAFF;
    font-weight: 400;
font-size: 80px;
line-height: 94px;
display: flex;
align-items: flex-end;
text-align: center;
}
/* graybox */
.graayback{
    text-align:center;
    display:flex;
    justify-content: center;
    background-color:#35444F;
    padding-left:42px;
    padding-right:33px;
}
.graybox1{
    font-weight: 400;
font-size: 24px;
line-height: 28px;
color: #FFFFFF;
border-left:1px solid white;
border-right:1px solid white;
padding:26px 33px 19px 32px;
}
.graybox2{
    font-weight: 400;
font-size: 24px;
line-height: 28px;
color: #FFFFFF;
border-left:1px solid white;
border-right:1px solid white;
padding:26px 40px 19px 40px;
}
.graybox3{
    font-weight: 400;
font-size: 24px;
line-height: 28px;
color: #FFFFFF;
border-left:1px solid white;
border-right:1px solid white;
padding:26px 18px 19px 40px;
}
.darker{
    font-weight: 400;
font-size: 24px;
line-height: 28px;
color:#FFFFFF;
border-left:1px solid white;
border-right:1px solid white;
padding:26px 37px 19px 36px;
}
.graybox1:hover{
    background-color:#222F3A;
} .graybox2:hover{
    background-color:#222F3A;
} .graybox3:hover{
    background-color:#222F3A;
} .darker:hover{
    background-color:#222F3A;
}
/* mian */
.main{
    display:flex;
    flex-direction: column;
    margin-left:50px;
}
.img{
    width: 320px;
    height: 381px;
    border:1px solid black;
    padding:75px 268px 75px 297px;
    overflow:hidden;
}
.img img{
    transition: 1s;
    display:block;
}
.img img:hover{
    transform: scale(1.3)
}
.paragraph{
    font-weight: 400;
font-size: 18px;
line-height: 24px;
color: #2C2C2C;
}
/* aside */
.asidchange{
    padding-left:40px;
    padding-top:27px;
    padding-bottom:27px;
    margin:0;
    color:#485863;
    font-weight: 400;
font-size: 27px;
}
.asidechengeH{
    padding-left:40px;
    padding-top:27px;
    padding-bottom:27px;
    margin:0;
    color:#485863;
    font-weight: 400;
font-size: 27px;
}
.asidechengeH:hover{
    background-color: #DBDBDB;
    padding-left:55px;
    color:black;
    font-weight: 400;
font-size: 27px;
}
.asidchange:hover{
    background-color: #DBDBDB;
    padding-left:55px;
    color:black;
    font-weight: 400;
font-size: 27px;
}
.asidbox{
    border:1px solid black;
    width:340px;
}
/* footer */
.foodiv{
    background-color: rgba(99, 105, 110, 0.48);
    display:flex;
    justify-content:flex-start;
    padding-top:20px;
    padding-bottom:34px;
}
.foochange1{
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    margin-right:32px;
}
.foochange2{
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    margin-right:32px;
}
.foochange3{
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    margin-right:32px;
}
.foochange4{
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    margin-right:32px;
}
.foochange1:hover{
    color:#3181A6;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    border-bottom:1px solid #3181A6;
    padding-bottom:13px;
}
.foochange2:hover{
    color:#3181A6;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    border-bottom:1px solid #3181A6;
    padding-bottom:13px;
}
.foochange3:hover{
    color:#3181A6;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    border-bottom:1px solid #3181A6;
    padding-bottom:13px;
}
.foochange4:hover{
    color:#3181A6;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    border-bottom:1px solid #3181A6;
    padding-bottom:13px;
}
.fooch{
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    margin-right:32px;
    margin-left:32px;
}
.fooch:hover{
    color:#3181A6;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    border-bottom:1px solid #3181A6;
    padding-bottom:13px;
}
.fooflex{
    font-weight: 400;
font-size: 24px;
line-height: 24px;
display: flex;
color: #010101;
margin-left:135px;
}